<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Burger Master</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="container">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Burgermeister
            </h1>
            <h2 class="subtitle">
              Meister Burger
            </h2>
          </div>
        </div>
      </section>

      <form class = "form" action="/" method="post">
      
        <field class="control">
          <input class="input" type="text" placeholder="Burger Type" name = "burgerName">
          <input class="button" type="submit" name="button">
            Enter
          </input>
        </field>
      
    </form>
      <script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
      ></script>
      <script type="text/javascript" src="/static/assets/index.js"></script>
    </div>
  </body>
</html>
